@element:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering
@applied-permissions/user applied-permissions/groups:"global-npm-platforms-engineering-exclude-group","artifactory-readers","crop-science_group","shared-all-users":registry=
https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/
//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:_authToken=${ARTIFACTORY_API_TOKEN}
always-auth=true